/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
  height: 100%;
  min-width: fit-content !important;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1;
}

.green {
  color: green;
}

.styleDivMain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  margin: 10px auto;
}

.width50 {
  width: 50%;
}

.width75 {
  width: 75%;
}

.full-width {
  width: 100%;
}

.float-left {
  float: left;
}

.margin10 {
  margin: 10px;
}

.padding10 {
  padding: 10px;
}

.quebrar-linha {
  white-space: pre-line;
}

.centralizar {
  text-align: center;
  justify-content: center;
  align-items: center;
}
